<% if (title) { %>
<h1><%= title %></h1>
<% } else { %> <%- message() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %> <% } %>

<form action="/inv/delete" method="post" id="deleteForm">
  <div class="form">
    <p>Confirm Deletion - The delete is permanent.</p>
    <div>
      <label for="inv_make">Make</label>
      <input
        type="text"
        name="inv_make"
        id="inv_make"
        placeholder="Nissan"
        readonly
        required
        value="<%= locals.inv_make %>"
      />
    </div>
    <div>
      <label for="inv_model">Model</label>
      <input
        type="text"
        name="inv_model"
        id="inv_model"
        placeholder="Altima"
        readonly
        required
        value="<%= locals.inv_model %>"
      />
    </div>

    <div>
      <label for="inv_price">Price</label>
      <input
        type="text"
        name="inv_price"
        id="inv_price"
        placeholder="15,000"
        pattern="^([0-9\.]*$)"
        readonly
        required
        value="<%= locals.inv_price %>"
      />
    </div>
    <div>
      <label for="inv_year">Year</label>
      <input
        type="text"
        name="inv_year"
        id="inv_year"
        placeholder="4-digit year"
        pattern="[0-9]{4}"
        readonly
        required
        value="<%= locals.inv_year %>"
      />
    </div>
    <div>
      <input
        type="submit"
        class="submit"
        name="submit"
        id="submit"
        value="Delete Item"
      />
      <input type="hidden" name="inv_id" <%= locals.inv_id ? 'value="' +
      locals.inv_id + '"' : '' %> />
    </div>
  </div>
</form>
