<% if (title) { %>
<h1><%= title %></h1>
<% } else { %> <% res.redirect('/') %> <% } %> <%= message %> <% if (errors) {
%>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<form action="/inv/update" method="post" id="updateForm">
  <div class="form">
    <fieldset>
      <legend>All FIELDS ARE REQUIRED.</legend>
      <div>
        <label for="classification_id">Classification</label>
        <%- classificationSelect %>
      </div>
      <div>
        <label for="inv_make">Make</label>
        <input
          type="text"
          name="inv_make"
          id="inv_make"
          placeholder="Nissan"
          required
          value="<%= locals.inv_make %>"
        />
      </div>
      <div>
        <label for="inv_model">Model</label>
        <input
          type="text"
          name="inv_model"
          id="inv_model"
          placeholder="Altima"
          required
          value="<%= locals.inv_model %>"
        />
      </div>
      <div>
        <label for="inv_description">Description</label>
      </div>
      <div>
        <textarea
          name="inv_description"
          id="inv_description"
          cols="30"
          rows="5"
          required
        >
<%= locals.inv_description %></textarea
        >
      </div>
      <div>
        <label for="inv_image">Image Path</label>
        <input
          type="text"
          name="inv_image"
          id="inv_image"
          placeholder="/images/vehicles/no-image.png"
          required
          value="<%= locals.inv_image %>"
        />
      </div>
      <div>
        <label for="inv_thumbnail">Thumbnail Path</label>
        <input
          type="text"
          name="inv_thumbnail"
          id="inv_thumbnail"
          placeholder="/images/vehicles/no-image-tn.png"
          required
          value="<%= locals.inv_thumbnail %>"
        />
      </div>
      <div>
        <label for="inv_price">Price</label>
        <input
          type="text"
          name="inv_price"
          id="inv_price"
          placeholder="15,000"
          pattern="^([0-9\.]*$)"
          required
          value="<%= locals.inv_price %>"
        />
      </div>
      <div>
        <label for="inv_year">Year</label>
        <input
          type="text"
          name="inv_year"
          id="inv_year"
          placeholder="4-digit year"
          pattern="[0-9]{4}"
          required
          value="<%= locals.inv_year %>"
        />
      </div>
      <div>
        <label for="inv_miles">Miles</label>
        <input
          type="text"
          name="inv_miles"
          id="inv_miles"
          placeholder="Digits only"
          pattern="[0-9]+"
          required
          value="<%= locals.inv_miles %>"
        />
      </div>
      <div>
        <label for="inv_color">Color</label>
        <input
          type="text"
          name="inv_color"
          id="inv_color"
          placeholder="Green"
          required
          value="<%= locals.inv_color %>"
        />
      </div>
      <div>
        <input
          type="submit"
          class="submit"
          name="submit"
          id="submit"
          value="Update Vehicle"
          disabled
        />
        <input type="hidden" name="inv_id" <% if(locals.inv_id) { % />
        value="<%= locals.inv_id %>" <% } %> />
      </div>
    </fieldset>
  </div>
</form>
<script src="../../js/inv-update.js"></script>
